/* UserProfile.css */

.user-profile-container {
  background-color: #f0f0f0; /* Set background color to gray */
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 100px;
  text-align: left; /* Left align the content */
  max-width: 800px; /* Limit maximum width for better readability */
  margin: 100px auto 0; /* Center the container horizontally and maintain margin from the top */
}

.stats {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
}

.info_bio {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}

.left-info,
.right-info {
  flex: 20;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 50px;
  background-color: white; /* Set background color to white */
}

.right-info {
  text-align: center; /* Center bio content */
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-username {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.bold-heading {
  font-weight: bold; /* Make headings bold */
  text-align: center;
}
