/* App.css */

/* Global styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading styles */
h1 {
  text-align: center;
  color: #333;
  
}

/* Paragraph Styles */
p {
  text-align: center;
  color:#333;
  margin-bottom: 30px;
}

/* Form styles */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: calc(30% - 120px); /* Adjusted width */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px 0 0 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff7f0e; /* Orange color */
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #24ff41; /* Darker shade of orange on hover */
}

/* User profile styles */
.user-profile {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.user-profile h2 {
  margin-top: 0;
  color: #333;
}

.user-profile p {
  margin: 10px 0;
  color: #666;
}

/* Not found styles */
.not-found {
  color: #ff6347;
  font-size: 18px;
  text-align: center;
}

/* App.css */

.hire-button {
  position: absolute;
  top: 50px; /* Adjust as needed to align with the top of user profile container */
  right: calc(325px); /* Adjust as needed to align with the right side of user profile container */
  background-color: rgb(234, 90, 7);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.hire-button:hover {
  background-color: rgb(18, 26, 251);
}

